﻿@using WebAPI.Enums

@model Ticket

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; 
        padding: 0; 
        text-align: center; 
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px; 
        line-height: 60px; 
        display: flex;
        justify-content: center;
        align-content: end;
    }

    h1 {
        color: #8B4513;
        font-weight: bold;
    }

    form {
        background-color: #fcece1; 
        border: none;
    }
</style>
<body>
    <div class="form-container">
        <h1 class="form-title">Write Ticket</h1>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Titulo" class="form-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Texto" class="form-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="flex justify-between">
                <button type="submit" class="btn btn-primary" style="border-color:transparent">Create</button>
                <a asp-controller="TicketMVC" asp-action="Index" class="btn btn-secondary" style="color:#8b4513">Back</a>
            </div>
        </form>
    </div>
</body>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
