﻿@using WebAPI.Enums
@model Ingrediente
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0; 
        text-align: center; 
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px; 
        display: flex;
        justify-content: center;
        align-content: end;
    }

    h1 {
        color: #8B4513;
        font-weight: bold;
    }

    form {
        background-color: #fcece1;
        border: none;
    }
</style>


<h1>Edit Ingredient</h1>
<body>
    <form method="post" asp-controller="StockMVC" asp-action="Edit" enctype="multipart/form-data">
        <div class="border m-2 p-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit Ingredient</h2>
            </div>
            <div asp-validation-summary="All"></div>
            <input asp-for="Id" hidden />
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Stock" class="form-label"></label>
                <input asp-for="Stock" class="form-control" required />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
                <div class="mb-3">
                    @Html.DropDownListFor(m => m.TypeComida,
                    new SelectList(Enum.GetValues(typeof(EnumTypeComida))))
                </div>
                <input asp-for="ImagePath" hidden />
                <button type="submit" class="btn btn-primary" style="border-color:transparent">Update</button>
                <a asp-controller="StockMVC" asp-action="Index" class="btn btn-secondary" style="color:#8b4513">Back</a>
            </div>
    </form>
</body>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

