@{
    ViewData["Title"] = "Privacy Policy";

}
<!DOCTYPE html>
<html>
<head>
    <title>Política de Privacidade da Hamburgueria "Hambúrguer Fresquinho"</title>
</head>
<body>
    <div class="col-md-9">

        <h1>Política de Privacidade da Hamburgueria "Hambúrguer Fresquinho</h1>

        <section>
            <h2>Informações Coletadas</h2>
            <p>Ao utilizar os nossos serviços, podemos coletar as seguintes informações pessoais:</p>
            <ul>
                <li>Informações de Identificação Pessoal: Nome, endereço, número de telefone, endereço de e-mail e outras informações semelhantes que fornece voluntariamente ao fazer um pedido.</li>
                <li>Informações de Pagamento: Detalhes de pagamento, como números de cartão de crédito/débito, informações de faturamento, entre outros, quando faz um pedido através do nosso site ou aplicação.</li>
                <li>Informações de Uso: Dados sobre como interage com o nosso site ou aplicação, incluindo páginas visitadas, produtos visualizados, preferências de menu, tempo gasto no site, entre outros.</li>
            </ul>
        </section>

        <section>
            <h2>Uso das Informações</h2>
            <p>Utilizamos as suas informações pessoais para:</p>
            <ul>
                <li>Processar pedidos de forma eficiente e precisa.</li>
                <li>Personalizar a sua experiência, fornecendo ofertas e promoções relevantes.</li>
                <li>Comunicar sobre novos produtos, eventos especiais ou alterações nos serviços.</li>
                <li>Melhorar os nossos produtos e serviços com base no feedback e comportamento dos clientes.</li>
                <li>Garantir a segurança e proteção dos nossos sistemas e dados.</li>
            </ul>
        </section>

        <section>
            <h2>Partilha de Informações</h2>
            <p>Não vendemos, alugamos ou compartilhamos as suas informações pessoais com terceiros para fins de marketing sem o seu consentimento.</p>
            <p>No entanto, podemos compartilhar as suas informações com:</p>
            <ul>
                <li>Prestadores de serviços terceirizados que nos auxiliam na operação do negócio, como processamento de pagamentos, entrega de pedidos, análise de dados, etc.</li>
                <li>Autoridades governamentais, se necessário para cumprir com obrigações legais ou proteger contra atividades fraudulentas.</li>
            </ul>
        </section>

        <section>
            <h2>Segurança das Informações</h2>
            <p>Adotamos medidas de segurança físicas, técnicas e administrativas para proteger as suas informações contra acesso não autorizado, uso indevido, alteração ou destruição.</p>
        </section>

        <section>
            <h2>Direitos e Escolhas</h2>
            <p>Você tem o direito de aceder, corrigir ou excluir as suas informações pessoais a qualquer momento. Além disso, pode optar por não receber comunicações de marketing diretamente com os nossos canais de contato.</p>
        </section>

        <section>
            <h2>Consentimento</h2>
            <p>Ao utilizar os nossos serviços, consente com a coleta, uso e divulgação das suas informações pessoais conforme descrito nesta Política de Privacidade.</p>
        </section>

        <section>
            <h2>Alterações na Política de Privacidade</h2>
            <p>Reservamo-nos o direito de atualizar ou modificar esta Política de Privacidade a qualquer momento. Quaisquer alterações serão publicadas no nosso site ou aplicação.</p>
        </section>

        <footer>
            <p>Para mais informações ou para exercer os seus direitos de privacidade, entre em contato conosco através dos canais fornecidos no final desta política.</p>
        </footer>
        <ul>
            <p>Telefone: 223444555</p>
            <p>Email: contato@hamburguerfresquinho.com</p>
            <p>Endereço: Rua das Cegonhas, 3020-740 Canedo</p>
        </ul>
    </div>
</body>
</html>

